
.select2-section {
    &.is-invalid {
        border-color: $danger !important;
    }
}
.req {
    color: red;
}

.page-title {
    padding-top: 5px;
    padding-bottom: 15px;
}

.navigation  p {
    padding: 10px 0 12px 0;
}

.create-button {
    padding-bottom: 15px;
    text-align: right;
}

.navigation-employee,
.addContactToTeam,
.addTeamToContact,
.storeAdditionalWorkDay,
.unique-item-contacts-add,
.addUniqueItemToContact,
.workplace-contacts-add,
.addWorkPlaceToContact {
    margin-top: 30px;
}

.updateWorkingDay, .destroyWorkingDay{
    margin-top: 22px;
}
