
.select2-section {
    &.is-invalid {
        border-color: $danger !important;
    }
}
.req {
    color: red;
}

.page-title {
    padding-top: 5px;
    padding-bottom: 15px;
}

.navigation  p {
    padding: 10px 0 12px 0;
}

.create-button {
    padding-bottom: 15px;
    text-align: right;
}
