.nav-link.active {
    color: $primary;
}

.main-nav {
    .user-dropdown {
        @extend .nav-link;

        padding-left: 0;
        padding-right: 0;
        outline: none;
        background: none;
        border: none;
        color: $nav-link-color;
        font-size: $nav-link-font-size;
        @include transition($nav-link-transition);

        &:hover {
            color: $nav-link-hover-color;
        }
    }

    .navbar-toggler-icon {
        color: $nav-link-color;
        outline-color: $nav-link-color;
    }
}

.navbar-expand-lg .navbar-nav .nav-link,
.navbar-expand-lg .navbar-nav .main-nav .user-dropdown,
.main-nav .navbar-expand-lg .navbar-nav .user-dropdown {
    @include media-breakpoint-up(lg) {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}
