// Bootstrap
// Colors
$gray-50: #f9fafb;
$gray-100: #f3f4f6;
$gray-200: #e5e7eb;
$gray-300: #d1d5db;
$gray-400: #9ca3af;
$gray-500: #6b7280;
$gray-600: #4b5563;
$gray-700: #374151;
$gray-800: #1f2937;
$gray-900: #111827;

$grays: (
  '50': $gray-50,
);

$primary: #0284c7;
$secondary: $gray-600;
$success: #059669;
$info: #4f46e5;
$warning: #d97706;
$danger: #e11d48;
$light: $gray-100;
$dark: $gray-800;

$border-radius-sm: 0.45rem;
$border-radius: 0.6rem;
$border-radius-lg: 0.75rem;

// Buttons and forms
$input-btn-focus-width: 0.3rem;

// Buttons
$btn-font-weight: 700;

$btn-padding-y-sm: 0.55rem;
$btn-padding-x-sm: 0.85rem;

$btn-padding-y: 0.85rem;
$btn-padding-x: 1.35rem;

$btn-padding-y-lg: 1.25rem;
$btn-padding-x-lg: 2rem;

// Inputs
$input-placeholder-color: $gray-400;

$input-border-radius: $border-radius;
$input-border-radius-lg: $border-radius-lg;
$input-border-radius-sm: $border-radius-sm;

$input-bg: $gray-50;
$select-color-input: $input-bg;

$select-border-radius: $input-border-radius;

$input-focus-bg: white;
$input-border-color: $gray-300;

$input-padding-y-sm: 0.55rem;
$input-padding-x-sm: 0.715rem;

$input-padding-y: 0.85rem;
$input-padding-x: 1.105rem;

$input-padding-y-lg: 1.25rem;
$input-padding-x-lg: 1.625rem;

$select-padding-x: $input-padding-x;
$select-padding-y: $input-padding-y;

//$custom-checkbox-indicator-border-radius: 0.2rem;
$custom-control-indicator-border-color: $gray-400;

// Labels
$label-margin-bottom: 0.25rem;

// Typography
$font-family-sans-serif: Mulish, sans-serif;
$headings-font-weight: 700;

// Grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1320px,
);

// Grid containers
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1280px,
);
